<!DOCTYPE html>
<html>
<head>
    <title>Face Detection</title>
    <style>
        #video-container {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Face Detection</h1>
    <div id="video-container">
        <img src="{{ url_for('video_feed') }}" width="640" height="480">
    </div>

    <a href="{{ url_for('upload') }}">View Attendance</a>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function updateVideoStream() {
            $('#video-container').find('img').attr('src', "{{ url_for('video_feed') }}" + '?' + new Date().getTime());
        }
        
        setInterval(updateVideoStream, 1000);
    </script>
</body>
</html>
